
<div class="panel">
		<div class="row">
			<div class="small-9 columns end">
				<%= react_component('ProfileStations', 
												{prof: @prof.to_json}, 
												{prerender: true}) %>
			</div>
  </div>
</div>
                                   
<script>
  console.log("test");
  $(document).foundation('topbar', 'reflow');
  $( document ).ready(function() {
    console.log( "ready!" );
		
		$("#admin-panel").hide();
   
		$('body').on('click', 'a.profile-link', function() {
      console.log('clicked');
    });
		
		$('body').on('click', '#create-new-profile', function() {
      console.log('clicked');
    });
		
		$('body').on('click', '#administration', function() {
      console.log('admin clicked');
			$("#admin-panel").toggle();
    });
		
		$('body').on('click', 'ul.dropdown', function() {
      console.log('clicked');
    });
		
		
  });

 
</script>
                    
