<div class="panel">
	<div class="row">
		<div class="small-12 columns end">
			<%= react_component('ProfileStations',
			{prof: @prof.to_json},
			{prerender: true}) %>
		</div>
	</div>
</div>

<script>
	$(document).ready(function() {
	 $(document).foundation('topbar','reflow');
	});
</script>

