<div ng-app="adminApp">
	<p ng-controller='MainCtrl'>
		<a class="btn btn-primary btn-lg" href="#/profiles"  role="button">Profiles</a>
		<a class="btn btn-primary btn-lg" href="#/buoys"  role="button">Buoys</a>
		<div class="btn-group" dropdown is-open="status.isopen">
			<button type="button" class="btn btn-primary"
			btn-radio="'/buoys'" ng-chang='transitionToBuoys()' uncheckable ng-model="btnPath">
				Buoys
			</button>
			<button type="button"
			class="btn btn-primary dropdown-toggle"
			dropdown-toggle
			ng-disabled="disabled">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">Add Buoy</a>
				</li>
			</ul>
		</div>
		<div class="btn-group" dropdown is-open="status.isopen">
			<button type="button" class="btn btn-primary"
			btn-radio="'/buoys'" ng-chang='transitionToBuoys()' uncheckable ng-model="profilePath">
				Profiles
			</button>
			<button type="button"
			class="btn btn-primary dropdown-toggle"
			dropdown-toggle
			ng-disabled="disabled">
				<span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">Add Profile</a>
				</li>
			</ul>
		</div>

		<div class="btn-group">
			<button type="button" class="btn btn-default dropdown-toggle"
			data-toggle="dropdown">
				Default <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">Like</a>
				</li>
				<li>
					<a href="#">Share</a>
				</li>
				<li>
					<a href="#">Retweet</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Poke</a>
				</li>
			</ul>
		</div>
		<div class="btn-group">
			<button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
				Primary <span class="caret"></span>
			</button>
			<ul class="dropdown-menu" role="menu">
				<li>
					<a href="#">Likem</a>
				</li>
				<li>
					<a href="#">Sharem</a>
				</li>
				<li>
					<a href="#">Retweet</a>
				</li>
				<li class="divider"></li>
				<li>
					<a href="#">Poke</a>
				</li>
			</ul>
		</div>
		<pre>{{btnPath}}</pre>
	</p>
	<div ng-view></div>
</div>

