
input.profile-create-input {
	width: 200px !important;
}

 .hidden { display:none; }
  
 
@media screen 
  and (min-device-width: 360px) 
  and (max-device-height: 640px) 
  and (orientation: portrait) {
   body table tr td {font-size: 35px !important;}
	 section ul.left {display: none;}
}
 
 
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
	{
		body table tr td {font-size: 18px !important;}
		.station-list table {width: 100%}

} 